body {
    background-color: aqua;
    background-image: url();
}
figure {
    margin: 0;
    padding: 50px;
}

header {
    flex: content;
    align-self: center;
    align-items: center;
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
    padding: 100px 300px;
    background-color:aquamarine
    /* background-image: url(https://www.istockphoto.com/vector/music-background-gm1076840920-288411432); */

}
.media {
    border: 5px red;
}
#mediacontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: black 3px;
    margin: white 3px;
}

input {
    width: 60%;
    padding: 10px 25px;
}
#search {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}
#searchdisplay {
    margin: 2px;
    padding: 25px 10px;
    background-color:beige;
    width: 80%;
}
button {
    padding: 10px 40px;
    margin: 5px;

}