body {
    background-color: aqua;
    background-image: url();
}
figure {
    margin: 0;
    padding: 50px;
}

header {
    flex: content;
    align-self: center;
    align-items: center;
    font-size: xx-large;
    font-family: Verdana;
    text-align: center;
    color:aqua;
    padding: 100px 300px;
    /* background-color:aquamarine */
    background-image: url(https://static.wixstatic.com/media/5d0760_5eb6cbd8c26d4eba87ecd0b5c58f2f87~mv2.jpg/v1/fill/w_616,h_360,al_c,lg_1,q_80,enc_auto/5d0760_5eb6cbd8c26d4eba87ecd0b5c58f2f87~mv2.jpg);
    background-size: 100%;

}
/* .artist{
    text-align: center;
    font-family: verdana;
    font: blue;
}
.songtite{
    text-align: center;
    font-family: Verdana;
} */
label {
    font-family: Verdana;
}
.media {
    padding: 50px solid white;
}
button {
    background-color: rgb(159, 73, 201);
}
#mediacontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(https://images.hdqwalls.com/wallpapers/abstract-dark-colorful-subtle-4k-xo.jpg);
    border: black 50px;
    margin: white 3px;
    padding: 100px blue;
    color:aqua;
    text-align: center;
    font-family: Verdana;
}

input {
    width: 60%;
    padding: 10px 25px;
}
#search {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}
#searchdisplay {
    margin: 2px;
    padding: 25px 10px;
    background-color:beige;
    width: 80%;
}
button {
    padding: 10px 40px;
    margin: 5px;

}